@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
}

.width {
  max-width: 1250px;
}

.margin {
  margin: 0 auto;
}

.bordered {
  border: solid 1px black;
}

main .offer .offer__items .offer__items-item, main .offer .offer__description, main .banner__wrapper .banner .banner__description {
  display: flex;
  flex-direction: column;
}

main .offer .offer__items, main .offer {
  display: flex;
  flex-direction: row;
}

main .banner__wrapper {
  width: 100%;
  padding: 100px 0 111px;
  background-color: #f6f2f2;
}
main .banner__wrapper .banner {
  max-width: 1250px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
main .banner__wrapper .banner .banner__description {
  text-align: left;
  color: #000000;
}
main .banner__wrapper .banner .banner__description .banner__description-title {
  display: inline;
}
main .banner__wrapper .banner .banner__description .banner__description-title span {
  display: inline-block;
  font-weight: 1000;
  font-size: 60px;
  line-height: 72px;
  text-transform: uppercase;
}
main .banner__wrapper .banner .banner__description .banner__description-subtitle {
  padding: 0 0 0;
}
main .banner__wrapper .banner .banner__description .banner__description-subtitle p {
  font-size: 16px;
  line-height: 28px;
  max-width: 520px;
}
main .banner__wrapper .banner .banner__description .banner__description-link {
  display: inline;
  padding: 45px 0 0;
}
main .banner__wrapper .banner .banner__description .banner__description-link a {
  display: inline-block;
  border-radius: 5px;
  padding: 20px 64px;
  text-transform: capitalize;
  background-color: #ff2d2d;
  text-decoration: none;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  transition: 0.2s;
}
main .banner__wrapper .banner .banner__description .banner__description-link a:hover {
  background-color: #313030;
  color: #ff2d2d;
}
main .banner__wrapper .banner .banner__video {
  display: flex;
  align-items: center;
}
main .banner__wrapper .banner .banner__video img {
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.35);
}

header {
  width: 100%;
  padding: 29px 0 0;
  background-color: #f6f2f2;
}
header .menu {
  background-color: #313030;
  line-height: 1.2;
  font-size: 16px;
}
header .menu .menu__list {
  text-align: center;
  text-transform: uppercase;
}
header .menu .menu__list .menu__list-item {
  display: inline;
}
header .menu .menu__list .menu__list-item a {
  display: inline-block;
  text-decoration: none;
  color: #e0e0e0;
  font-weight: bold;
  padding: 45px 24px 34px;
  background-color: #313030;
  transition: 0.2s;
}
header .menu .menu__list .menu__list-item a:hover {
  background-color: #ff3f40;
}

main .offer {
  margin-top: 110px;
  align-items: flex-start;
  justify-content: space-between;
}
main .offer .offer__description {
  color: #333333;
}
main .offer .offer__description .offer__description-title span {
  text-transform: uppercase;
  font-size: 42px;
  font-weight: normal;
}
main .offer .offer__description .offer__description-subtitle {
  max-width: 520px;
}
main .offer .offer__description .offer__description-link {
  display: inline;
}
main .offer .offer__description .offer__description-link a {
  display: inline-block;
  border-radius: 5px;
  padding: 20px 64px;
  text-transform: capitalize;
  font-size: 16px;
  text-decoration: none;
  color: #ff2d2d;
  border: solid 2px #ff0000;
  background-color: #ffffff;
}
main .offer .offer__items {
  flex-wrap: wrap;
  max-width: 50%;
}
main .offer .offer__items .offer__items-item {
  max-width: 50%;
  padding: 0 0 50px;
}
main .offer .offer__items .offer__items-item .offer__item-icon {
  padding: 0 0 30px;
}
main .offer .offer__items .offer__items-item .offer__item-title {
  text-transform: capitalize;
  font-size: 24px;
  color: #333333;
}
main .offer .offer__items .offer__items-item .offer__item-description {
  line-height: 28px;
  font-size: 16px;
  max-width: 300px;
}

/*# sourceMappingURL=style.css.map */
